.myUL .pil_barber,.pil_style{ 
    visibility: hidden; /* Makes input not-clickable */
    position: absolute; /* Remove input from document flow */
}


#src_barber,#src_style{
    background-image: url('../img/search.png'); /* Add a search icon to input */
    background-size: 20px 20px;
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

.myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.myUL li{
    text-align: left;
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}
.myUL li:hover{
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}
.myUL > label > li > img{
    vertical-align: middle;
    border-radius: 8px;
}
.myUL > label > li > .sp_barber , .sp_style{
    padding-left: 10px;
}

.myUL > label > li > .price{
    background-color: #b8b8b8;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    font-size: 10px;
    padding-right:10px;
    width: 50px;
    border-radius: 8px;
    float: right;
    vertical-align: middle;
    text-align: left;
}

#b_hasil{
    font-size: 20px;
}

.b_Hasil{
    text-align: left;
}

#st_hasil{
    font-size: 20px;
}

.st_hasil{
    text-align: left;
}

.hide{
    position: absolute;
    display: none;
}

.hiden{
    position: absolute;
    display: none;
}

#s_isian{
    text-align: left;
}

#sum_order{
    text-align: left;
}

.sum_img{
    display: flex;
    display: -webkit-flex;
    width:100%;
    
    text-align: center;
}

.sum_img .barber,.style {
    vertical-align: middle;
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}

.sum_img .barber .disp,.sum_img .style .disp{
    margin:5px;
    background: url(../img/pixel_weave.png);
    border-radius:5px; 
}

.sum_img .barber .disp img,
.sum_img .style .disp img{
    border-radius: 10px;
    width:70%;
    padding: 5px;
}

.sum_text{
    background: url(../img/pixel_weave.png);
    margin: 5px;
    border-radius: 5px;
}

.sum_text tr{
    height: 30px;
    vertical-align: top;
}

.sum_text tr .td{
    padding-left: 5px;
    width: 400px;
}

.sum_text tr .ts{
    padding-left: 5px;
    padding-right: 10px;
    width: 100px;
}

#pop img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#pop .toggle{
    color:#FFFFFF; 
    float:left; 
    padding:5px; 
    position:absolute; 
    top:0px; 
    right:2px;
    font-size:20px;
}

#pop h3{
	margin-bottom: 10px;
	border-bottom: 1px solid #777;
    color: black;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

#pop #pop_st_price{
    color: black;
}

.col {
    color: black;
    width: 50%;
    border-top: solid 1px white;
}

#hapus{
    border-right: solid 1px white;
}

#baris {
    line-height: 40px;
    margin-left:0px;margin-right:0px;
    color:#fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    display: flex;
    bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/*RATING*/
@import url(http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {margin: 0; padding: 0;}

.rating{
    border: none;
    display: inline-block;
}
.rating > input {display: none;}
.rating > label:before{
    margin: 5px;
    font-family: FontAwesome;
    font-size: 16px;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before{
    content: "\f089";
    position: absolute;
}

.rating > label{
    color: #ddd;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label{ color: #101010;}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{ color: #707070;}